@include keyframes(dropHeader) {
  0% {
    opacity: 0;
    top: -40px;
  }
  
  100% {
    opacity: 1;
    top: 0;
  }
}

@include keyframes(fadeHeader) {
  0% {
    bottom: -40px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}
